@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body{
    font-family: 'Montserrat';
    background-color: #FFE4E1;
}

.all{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color:#FF768E;
    text-align: center;
}
.question{
    font-size: 80px;
    color: red;
}
.answers{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

}
.answer{
    margin-left: 10px;
    border: 1px solid #FFC0CB;
    width: 130px;
    height: 80px;
    border-radius: 10px;
    background-color: white;
}

.butt{
    margin-top: 100px;
    margin-left: 10px;
    border: 2px solid #FFC0CB;
    width: 150px;
    padding: 20px;
    border-radius: 13px;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    
}
.games{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
}
.counter{
    text-align: left;
}
.block{
    display: none;
}
.results{
    display: none;
}
.h{
    font-size: 50px;
}
.to-main{
    margin-left:98px;
}
@media (orientation: portrait) and (max-width: 500px){
    .question{
        font-size: 60px;
    }
    .butt{
        margin-top: 50px;
        width: 50px;
        font-size: 15px;
    }
    .answer{
        width: 80px;
        height: 80px;
        margin-left: 5px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    .to-main{
        width: 100px;
        margin-left: 50px;
    }
}
@media (min-width: 500px) and (max-width: 900px){
    .butt{
        width: 100px;
    }
    .answer{
        width: 90px;
    }
    .question{
        font-size: 50px;
    }
    .to-main{
        margin-left: 20px;
    }
}
